<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dingdonginc.zhangfang">

    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <application
            android:name=".App"
            android:allowBackup="true"
            android:fullBackupContent="@xml/backup_descriptor"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">

        <activity android:name=".WMJActivity">

        </activity>
        <activity android:name=".views.AddAccountActivity" android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
                android:name=".views.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.StartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>
        </activity>

        <service
                android:name=".services.accessibility.Accessibility"
                android:exported="true"
                android:label="@string/accessibility_tip"
                android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
                android:process=":BackgroundService">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                    android:name="android.accessibilityservice"
                    android:resource="@xml/accessibility_config"/>
        </service>
        <service
                android:name=".services.notification.NotificationMonitoringService"
                android:label="@string/app_name"
                android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
                <action android:name="android.notificationservice.NotificationService"/>
            </intent-filter>
        </service>
    </application>

</manifest>